@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #373435;
    background-color: white;
}

/*ID's here*/

/* homepage, header & footer here*/

#site {
    margin:auto;
    width: 1080px;
}

#header{
    /*margin-top: 25px;*/
    position: sticky;
    padding-bottom: 30px;
    /*background-color: #313A5f;*/
    display: flex;
    flex-direction: row;
    background-color: #313a5f;
}

#Nav ul {
    margin-left:auto;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 35px;
    margin-top: 75px;
}

#Nav ul li a {
    width: 50px;
    text-align: center;
    color: #ffffff;
    /*margin-top: 150px;*/
    margin-left: 150px;  
    text-decoration: none;
}
#Nav ul li a:hover {
    text-decoration: underline;
}

.logo{ 
    margin-left: 15px;
    margin-top: 5px
}

#homeBanner{
    display: flex;
    justify-content: center;
    width: 100%;
}

#welcomeTxt {
    margin-top: 75px;
    display:flex;
    flex-direction: column;
    margin-left: 250px;
    justify-content: space-between;
    align-items: center;

}

#welcomeMsg {
    width: 500px;
    margin-right: 175px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;    
}

#Product {
    margin-top: 75px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #373435;
}

#productImg {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
}

#productButton {
    display: block;
    width: 900px;
    height: 125px;
    background-color: #BB9D42;
    color: #373435;
    text-decoration: none;
    margin-right: 250px;
    text-align: center;
    font-size: 30px;
    border:3px;

    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;

}

#productButton a{
    text-decoration: none;
    color: #373435;
    display: flex;
    text-align: center;
}

#foot{
    margin-top: 25px;
   /* margin-bottom: 25px; */
    display:flex;
    flex-direction: row;
    background-color: #313a5f;
}

#footNav{
    display:flex;
    flex-direction: column;
    margin-left: 70px;
    line-height: 50px;
    font-size: 25px;
    color: #ffffff;
}
#footNav ul li a {
    color: #ffffff;
    text-decoration: none;
}
#footNav ul li a:hover {
    text-decoration: underline;
}
#footerTxt {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 70px;
    margin-left: 250px;
    font-size: 45px;
    font-family:'Cardo', Arial, Helvetica, sans-serif, serif;
    color: #ffffff;
}

#address {
    text-align: right;
    font-size: 25px;
    justify-content: right;
    margin-left: 350px;
    font-family:'Cardo', Arial, Helvetica, sans-serif, serif;
    color: #ffffff;
}

/*Contact Page*/

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/*#NameEmail{
    margin-left:500px;
    margin-bottom: 45px;
    width: 300px;
    height: 150px;
}*/

#contactT{
    font-size: 45px;
    font-family: 'Cardo', Arial, Helvetica, sans-serif, serif;
    margin-top: 15px;
    margin-bottom: 15px;
    display:flex;
    justify-content: center;
}

#msgBox{
    flex-direction: column;
}

#NameEmail{
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-input{
    width: 200px;
    height: 35px;
}
#contact-message{
    width: 412px;
    height: 250px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 130px;
}

#submit{
    background-color:#BB9D42;
    color:#373435;
    font-family:'Cardo', Arial, Helvetica, sans-serif, serif;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 30px;
    margin-left: 25px;
    margin-bottom: 35px;
}

/*our story here*/

#titleBanner{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#aboutUs {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
}

#story h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Cardo', Arial, Helvetica, sans-serif, serif;
    color: #373435
}

#story p {
    margin-left: 75px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
    color: #373435
}

#beerImg {
    margin-right: 75px;
 
}




/*classes here*/

.hidden {
    display: none;
}

a:visited{
    text-decoration: none;
}

.products {
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 25px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* Landing page here*/

.logoL {
    display: flex;
    justify-content: center;
}
#headerL {
    /*margin-top: 25px;*/
    position: sticky;
    padding-bottom: 30px;
    /*background-color: #313A5f;*/
    background-color: #313a5f;
}
.txtL{
    font-size: 100px;
    font-family: 'Cardo', Arial, Helvetica, sans-serif, serif;
    margin-top: 15px;
    margin-bottom: 15px;
    display:flex;
    justify-content: center;
}
.txtLand{
    font-size: 45px;
    font-family: 'Cardo', Arial, Helvetica, sans-serif, serif;
    margin-top: 15px;
    margin-bottom: 15px;
    display:flex;
    justify-content: center;
}
button {
    font-family: 'Cardo', Arial, Helvetica, sans-serif, serif;
    font-size: 25px;
    font-weight: bold;
    color: #373435;
    background-color: #BB9D42;
    cursor: pointer;
    width:350px;
    height: 100px;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button a {
    text-decoration: none;
    color: #373435;
}

#footerL {
    position: absolute;
    bottom:0;
    width:100%;
    height: 150px;
    background-color: #313a5f;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}
.price p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #373435;
    margin-top: 20px;
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
}

#about p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #373435;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#row p{
    font-family: 'Cardo', Arial, Helvetica, sans-serif, serif;
    font-size: 35px;
    font-weight: bold;
    color: #373435;
    background-color: #BB9D42;
    cursor: pointer;
    width:350px;
    height: 100px;
    text-align: center;
   
}

.popup {
    width: 700px;
    height: 300px;
    background-color: #313a5f;
    position: absolute;
    top: 40%;
    left: 30%;
    visibility: hidden;
}

.popup p {
    color: #ffffff;
    font-family: 'Cardo', Arial, Helvetica, sans-serif, serif;
    font-size: 45px;
    text-align: center;
    margin-top: 25px;
}
#popbttn {
    display: flex;
    align-items: center;
    text-align: center;
    
    
}

.open-popup{
    visibility: visible;
}